
<div class="chart-container">
  <canvas  id="MyChart" >{{chart}}</canvas>
</div>

<div class="row">
  <div class="col">
    <div class="alert alert-info">List of Boss</div>
    <app-add-user (add)="addUser(oddUsers, $event)"> </app-add-user>
    <app-user-list  [users]="oddUsers"  [newUser]="oddUser"  ></app-user-list>
  </div>
  <div class="col">
    <div class="alert alert-info">List of Workers</div>
    <app-add-user (add)="addUser(evenUsers, $event)" > </app-add-user>
    <app-user-list   [users]="evenUsers" [newUser]="evenUser" ></app-user-list>
  </div>
</div>

